<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signin_signup.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in here</h1>
      <div class="form-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block  btn_custom" type="submit">Sign in</button>
      </div>
    </form>
  </body>
</html>
